body {
	margin: 0px;
}
header {
	min-height: 100vh;
	width: 100%;
	
	background-image: url('https://images.unsplash.com/photo-1447014421976-7fec21d26d86?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c82e04e1201234889daab5427f481731');
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.live_background_preview_input_wrapper {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
#live_background_preview_input {
	width: 60%;
	max-width: 500px;
}
